@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
html body{
    width: 100%;
    height: 100vh;
    background-color: rgba(207, 215, 221, 0.349);
}
main{
    width: 100%;
    height: 100%;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 190px;
    height: 382px;
    background: url(../imagens/frame-iphone.png) no-repeat top center;
    background-size: cover;
}
#telefone{
    height: 437px;
}
#telaIphone{
    position: relative;
    width: 164px;
    height: 294px;
    top:49px;
    left: 13px;
}
#redeSocial{
    text-align: right;
}
#redeSocial img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 8px 5px;
    box-sizing: border-box;
    transition: bordr  .3s, transform .3s;
}
#redeSocial img:hover{
    border: 2px solid rgba(88, 84, 84, 0.281);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 5px rgba(69, 85, 99, 0.562);
}